<?php

/**
 * LibConfig - Config file for LibraryPHP 
 * @author James Clayton <james.r.clayton@gmail.com>
 * @version 0.0.1
 * @copyright (c) 2013, James Clayton
 * @package LibConfig
 * @license http://opensource.org/licenses/ISC ISC License (ISC)
 */

include_once('LibCrypto.php');
include_once('LibDatabase.php');
include_once('LibDataManipulation.php');
include_once('LibDate.php');
include_once('LibFileSystem.php');
include_once('LibFinancial.php');
include_once('LibGraphics.php');
include_once('LibHealth.php');
include_once('LibHtml.php');
include_once('LibMath.php');
include_once('LibNetwork.php');
include_once('LibScience.php');
include_once('LibSecurity.php');
include_once('LibStats.php');
include_once('LibString.php');
include_once('LibSystem.php');
include_once('LibUtility.php');

$cr = new Crypto();
$db = new Database();
$dm = new DataManipulation();
$date = new Date();
$fs = new FileSystem();
$fin = new Financial();
$gr = new Graphics();
$heal = new Health();
$html = new Html();
$math = new Math();
$net = new Network();
$sci = new Science();
$sec = new Security();
$stat = new Stats();
$str = new String();
$sys = new System();
$util = new Utility();

$LibVersion = '0.0.1';

/**
 * DisplayErrors() True or False. Optional. Default is False. Will display errors, if true, when called. 
 */

$util->DisplayErrors(True);

/**
 * Determine base line compatibility. 
 */

$CurrentPhpVersion = $util->PhpVersion();
$BasePhpVersion = '5.4.15';
$EnforceBaseCompatibility = True; /* True or False */

if($EnforceBaseCompatibility == True) {
	if($CurrentPhpVersion < $BasePhpVersion) {
		$util->Kill("Your current PHP install is $CurrentPhpVersion and it needs to be equal to or higher than $BasePhpVersion. Exiting...");
	}
}

$util->SetIni('date.timezone', 'America/New_York');

/**
 * Set database authentication information.  
 */

$DbType = ''; /* MySQL, PgSQL, MsSQl, Oracle */
$DbHost = ''; 
$DbPort = '';
$DbUser = '';
$DbPassword = '';
$DbOptions = '';
$DbConnectTimeout = '';
$DbName = '';

?>
